:root {
  /* font family */
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Playfair Display", serif;

  /* font weight */
  --w400: 400;
  --w500: 500;
  --w700: 700;

  /* line heigth */
  --lh10: 10px;
  --lh12: 12px;
  --lh15: 15px;
  --lh20: 20px;
  --lh21: 21px;
  --lh24: 24px;
  --lh25: 25px;
  --lh32: 32px;
  --lh150: 150%;

  /* font size */
  --fs700: 1.5rem;
  --fs600: 1.125rem;
  --fs500: 1rem;
  --fs400: 0.875rem;
  --fs300: 0.75rem;
  --fs200: 0.625rem;
  --fs100: 0.5rem;

  /* color */
  --clr-dark: 0 0% 0%;
  --clr-gray1: 0 0% 20%;
  --clr-gray2: 0 0% 31%;
  --clr-gray3: 0 0% 51%;
  --clr-gray4: 0 0% 74%;
  --clr-gray5: 0 0% 77%;
  --clr-primary: 28 87% 62%;
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.w400 {
  font-weight: var(--w400);
}
.w500 {
  font-weight: var(--w500);
}
.w700 {
  font-weight: var(--w700);
}
.lh10 {
  line-height: var(--lh10);
}
.lh12 {
  line-height: var(--lh12);
}
.lh15 {
  line-height: var(--lh15);
}
.lh20 {
  line-height: var(--lh20);
}
.lh21 {
  line-height: var(--lh21);
}
.lh24 {
  line-height: var(--lh24);
}
.lh25 {
  line-height: var(--lh25);
}
.lh32 {
  line-height: var(--lh32);
}
.lh150 {
  line-height: var(--lh150);
}
.p-dark {
  color: hsl(var(--clr-dark));
}
.p-gray1 {
  color: hsl(var(--clr-gray1));
}
.p-gray2 {
  color: hsl(var(--clr-gray2));
}
.p-gray3 {
  color: hsl(var(--clr-gray3));
}
.p-gray4 {
  color: hsl(var(--clr-gray4));
}
.p-primary {
  color: hsl(var(--clr-primary));
}
.fs100 {
  font-size: var(--fs100);
}
.fs200 {
  font-size: var(--fs200);
}
.fs300 {
  font-size: var(--fs300);
}
.fs400 {
  font-size: var(--fs400);
}
.fs500 {
  font-size: var(--fs500);
}
.fs600 {
  font-size: var(--fs600);
}
.fs700 {
  font-size: var(--fs700);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: var(--ff-sans);
  font-weight: var(--w400);
  color: var(--clr-gray1);
  background-color: hsl(0, 0%, 98%);
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  line-height: var(--lh24);
}

h3 {
  line-height: var(--lh21);
}

h5 {
  text-transform: uppercase;
  font-size: var(--fs100);
}

#ingredients {
  margin-top: 1em;
}

#ingredients .grid {
  gap: 1em;
  grid-template-columns: min-content minmax(1em, auto);
  place-items: center;
  justify-content: start;
}

.container {
  width: 80%;
  margin: 1em auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--gap, 1em);
}

.grid {
  display: grid;
}

.description {
  margin-top: 12px;
}

.hero-img {
  margin: 24px 0;
}

.footer {
  text-align: center;
  font-size: var(--fs400);
  margin: 2em 0;
}

.instructions > ol {
  padding-left: 1em;
}

.label {
  line-height: var(--lh10);
}

.value {
  line-height: var(--lh15);
  font-size: var(--fs200);
}

.ingredient {
  line-height: var(--lh25);
  font-size: var(--fs400);
}

.instructions li {
  line-height: var(--lh20);
  color: hsl(var(--clr-dark));
}

.piece-name {
  font-size: var(--fs500);
  margin: 1em 0;
}

.piece > .flow .flex {
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.75);
}

.instructions {
  margin-top: 1em;
}

.acknowledgement {
  margin: 1em 0;
}

.acknowledgement > a:hover {
  color: hsl(var(--clr-primary));
}

.instructions > ol {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  display: grid;
  align-items: center;
  gap: 1rem;
  counter-reset: orderedlist;
}

.instructions > ol li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 3em;
  align-items: start;
}
.instructions > ol li > p {
  align-self: center;
}

.instructions > ol li:before {
  display: grid;
  place-content: center;
  counter-increment: orderedlist;
  width: 1.5em;
  height: 1.5em;
  content: counter(orderedlist);
  font-family: var(--ff-serif);
  font-size: var(--fs700);
  color: #fff;
  background-color: hsl(var(--clr-primary));
  border-radius: 0.25em;
}

@media only screen and (min-width: 992px) {
  :root {
    --fs700: 1.5rem;
    --fs600: 1.5rem;
    --fs500: 1.125rem;
    --fs400: 1rem;
    --fs300: 0.875rem;
    --fs200: 0.875rem;
    --fs100: 0.625rem;

    --lh10: 12px;
    --lh12: 12px;
    --lh15: 17px;
    --lh20: 24px;
    --lh21: 24px;
    --lh24: 32px;
    --lh25: 25px;
    --lh32: 32px;
    --lh150: 150%;
  }

  main {
    flex: 5;
    max-width: 80%;
  }

  header > .flex {
    max-width: 57%;
  }

  .title {
    font-size: 3rem;
    line-height: 64px;
  }

  .split {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .info {
    flex: 1 fit-content 0;
    margin-top: 1em;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .info-details {
    flex-direction: column;
  }

  .info-details {
    margin-top: 2.5em;
    gap: 3em;
  }
}
